[submodule "vendor/plugins/jrails"]
	path = vendor/plugins/jrails
	url = git://github.com/aaronchi/jrails.git
[submodule "vendor/plugins/uberkit"]
	path = vendor/plugins/uberkit
	url = git://github.com/mbleigh/uberkit.git
