<h2>Welcome to RailsConf TweetUps!</h2>

<p>If you're going to <a href='http://www.railsconf.com/' target='_blank'>RailsConf</a> this year, you might want to know who in your Twitter network is going, and to which sessions. <strong>RailsConf Tweetups</strong> is a tool created by <a href='http://intridea.com' target='_blank'>Intridea</a> that lets you upload your RailsConf schedule and see who among your followers and friends are going to which sessions.</p>

<p>This application was programmed in an afternoon by <a target='_blank' href='http://www.mbleigh.com/'>Michael Bleigh</a>. If you want to learn more about how to get Twitter applications like this one up and running <strong>fast</strong>, you might want to add <a href='http://en.oreilly.com/rails2009/public/schedule/detail/8517' target='_blank'>Twitter on Rails</a> (my RailsConf talk) to your personal schedule!</p>

<h2>Brought To You By...</h2>

<table class='sponsors'>
  <tr>
    <th><%= link_to image_tag('/images/intridea-logo.jpg'), "http://www.intridea.com", :target => '_blank' %></th>
    <th><%= link_to image_tag("/images/presently-logo.jpg"), "http://present.ly", :target => "_blank" %></th>
  </tr>
</table>

<h2>Newest Members</h2>

<%= render :partial => "users/avatar_list", :locals => {:users => User.by_date.limit(16) } %>
